
		<footer id="footer">
			<div class="inner">
					<div class="info">
						
					</div>
				<div class="menu">
					<ul class="footnav">
						<li><a href="sample.html">news会社</a></li>
						<li><a href="sample.html">利用規約</a></li>
						<li><a href="sample.html">お問い合わせ</a></li>
					</ul>
				</div>
			</div>
		</footer>

		<p id="copyright"><a>@news</a></p>
