<head>
		<header id="header" role="banner">
		<div class="logo">
      <%= link_to '日本の論点',  items_path %>
		</div>
		<%# 検索フォーム %>
	<%= form_with(url: search_items_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
  <%end%>
	<%# 検索フォーム %>
	</header>

  <nav id="mainNav">
		<div class="inner">
			<a class="menu" id="menu"><span>MENU</span></a>
			<div class="panel">
				<ul>
					<li><a href="index.html"><strong>政治</strong><span>Politics</span></a></li>
					<li >
						<a href="sample.html"><strong>国際</strong><span>International</span></a>
						<%# <ul class="sub-menu">
							<li><a href="sample.html">サブメニュー</a></li>
							<li><a href="sample.html">サブメニュー</a></li>
						</ul> %>
					</li>
					<li><a href="sample.html"><strong>経済</strong><span>Economy</span></a></li>
					<li><a href="sample.html"><strong>社会</strong><span>Society</span></a></li>
					<li><a href="sample.html"><strong>文化・メディア</strong><span>Media&Culture</span></a></li>
					<li><a href="sample.html"><strong>生活・医療</strong><span>Life&Medical</span></a></li>
				</ul>
			</div>
		</div>
	</nav>



</head>