<%= render "shared/header" %>
	<div id="wrapper">
		<section id="main">
			<%# <section id="post-250" class="content">
				<h3 class="heading">新着記事</h3>
	
			</section>
			<div class="pagenav"> %>
	
			</div>
		</section>
   </div>
<%= render "shared/footer" %>

	

