


/*************
/* ロゴ
*************/
.logo{
  float:left;
  }
  
  .logo a{
  color:#555;
  }
  
  .logo p{float:left;}
  
  .logo span{display:block;}

/* ログインボタン */
.devise{
  float:left;
  margin-top:6px;
  margin-left: 10px;
  font-size: 20px;
}
/* 1.検索フォーム全体 */
.search{
  /* text-align: right; */
  position: relative;
    /* 右寄せ */
}

/* 2.検索フォーム */
.search-form{
}
/* 2.検索ボックス */
.search-input{
  width: 150px;
  position: absolute;
  right:70px;
  outline:0;/*クリック時の青い枠線消す*/	
  height:40px;/*検索ボックスの高さ*/	
  padding:0 10px;/*テキスト位置調整*/	 
  border-radius:2px 0 0 2px;/*検索ボックスの角を丸める*/		
  background:#eee;/*検索ボックスの背景カラー*/
  border:none;/*検索ボタンの枠線を消す*/ 	
}
/* 2.ボタン */
.search-btn{
  position: absolute;
  right:0px;/*検索ボタンの位置調整*/  
  width:70px;/*検索ボタンの横幅*/ 
  height:40px;/*検索ボタンの縦幅*/ 
  top:0;
  border-radius:0 2px 2px 0;/*検索ボタンの角を丸める*/ 
  background:#7fbfff;/*検索ボタンの背景カラー*/ 
  border:none;/*検索ボタンの枠線を消す*/ 
  color:#fff;/*検索ボタンのテキストカラー*/ 
  font-weight:bold;/*検索ボタンのテキスト太字*/ 
  font-size:16px;/*検索ボタンのフォントサイズ*/ 
}
.search-btn:hover{
  color:#666;/*検索ボタンマウスオーバー時のフォントカラー*/ 
}