
.write-contents {
  background-color: #FFF;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
	padding: 10vh 0;
}

.write-lists {
  width: 100vw;
  display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.write-lists>.list {
  /* width: 50vh; */
  padding: 2vw;
	background-color: #FFF;
}


.write-img-content {
	position: relative;

}

.write-img {
  width: 50vh;
  height: 30vh;
}

.write-info {
  background-color: #FFF;
  /* color: black; */
  /* padding: 1vw; */
}

.write-name {
  font-size: 2.5vh;
}

/* //商品一覧 */